body{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    background-color: #829cbc8d;
}

.paginaTotal{
    margin: 0 auto;
    height: 600px;
    box-sizing: border-box;
}

.menu{
    background-color: #1F487E;
    margin-top: 0;
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
    position: fixed;
    right: 0;
    top: 0;
    
}
.menu ul {
    margin-top: 0;
    padding-top: 15px;
    list-style-type: none;
    text-align: right;
    box-sizing: border-box;
    
}

@media screen and (max-width: 500px) {
    .menu  ul  li  a{
        font-size: 2px;
    }

    body{
        background-color: orange;
    }
}

.menu ul li{
    text-transform: uppercase;
    padding-right: 25px;
    display: inline-block;
    
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    font-size: 11px;
}

.menu ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
}

main{
    margin-top: 110px;
}
#formLogin{
    width: 300px;
    margin: 0 auto ;
    text-align: center;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.titulo{
    padding-top: 50px;
    font-weight: bold;
}
.preencher{
    margin-top: 50px;
}

.user-container, .pass-container{
    padding-bottom: 40px;

}

.acesso{
    border-style: none;
    border-bottom: 1px solid #bbb;
    font-size: 13px;
    color:#000;
    width: 80%;
}

.acesso:focus{
    outline: 0;
}

.submit-container{
    padding-top: 20px;
}
#entrar{
    width: 80%;
    border-radius: 25px;  
    padding: 10px;
    background-image: linear-gradient(to right, rgb(0, 170, 255), rgb(199, 32, 32));
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}